.Blogs-container{
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}
.BlogScroll{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap: 25px;
    width: 100%;
    overflow-x: scroll;
    max-width: 100vw;   
    cursor: default;
}
.BlogScroll::-webkit-scrollbar{
    display: none;
}
.blogimg{
    width:320px;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(6*-320px - 6*25.6px));
    }
}

.Blogdevelem p{
    font-size: 0.75rem;
}
.Blogdevelem h5{
    color:var(--color-theme-primary);
    font-family: 'Cormorant Upright', Sans-serif;
    font-size: 1.4rem;
}


@media (max-width:1070px){
    .Blogs-container{
        max-width: calc(2*320px + 48px + 25px);
    }    
}
@media (max-width:730px){
    .Blogs-container{
        max-width: calc(320px + 48px);
    }    
}


